@use '@angular/material' as mat;


@mixin room-card($theme) {

    $type: mat.get-theme-type($theme);
    $empty: mat.get-theme-color($theme, inverse-on-surface);
    $gray: mat.get-theme-color($theme, outline);
    $empty: mat.get-theme-color($theme, outline-variant);
    $primary: mat.get-theme-color($theme, primary);
    $success: mat.get-theme-color($theme, tertiary);

    .room-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        cursor: pointer;
        .mat-icon {
            font-size: 6rem;
            width: 6rem;
            height: 6rem;
            margin: 0;
        }


    }

    .room-card:hover,
    .selected {
        @include mat.elevation(6);
    }

}
