@use '@angular/material' as mat;


@mixin square-button($theme) {

    $type: mat.get-theme-type($theme);

    .square-btn {
        @extend .hover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 11rem;
        height: 11rem;
        border-radius: 2rem;
        margin: 0.5rem;
        cursor: pointer;

        .img-box {
            position: relative;
            width: 7.5rem;
            height: 7.5rem;
            img {
                object-fit: contain;
            }
        }

        h4 {
            margin: 0;
        }
    }

}
