<ng-container *ngrxLet="isDarkMode$ as darkMode">
    <mat-card class="container-card">
        <div class="card-top">
            <div>
                @if (!signInRoute) {
                    <a mat-button [routerLink]="['']" [class.text-primary]="darkMode" [class.text-success]="!darkMode">
                        <mat-icon> arrow_back</mat-icon>
                        Voltar
                    </a>
                }
            </div>
            <div>
                <button mat-icon-button [class.text-primary]="darkMode" [class.text-info]="!darkMode"
                        (click)="changeThemeMode(darkMode)">
                    <mat-icon> {{ darkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
                </button>
            </div>


        </div>
        <mat-card-header>
            <mat-card-title>
                <h1 class="brand">Brand</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h3>Rota não encontrada</h3>
            <p>Desculpe, a rota que você procura não existe.</p>
        </mat-card-content>
    </mat-card>
</ng-container>

