<mat-card class="container">
    <mat-card-header class="box-1">
        <mat-card-title-group>
            <mat-card-title>Dashboard</mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="box-2">
        <mat-card appearance="outlined">
            <mat-card-title>R$ 1.500,00</mat-card-title>
            <mat-card-content>
                <p>Saldo em caixa</p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <mat-card-title>{{ freeRooms }}</mat-card-title>
            <mat-card-content>
                <p>Quartos disponíveis balcão</p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <mat-card-title>1</mat-card-title>
            <mat-card-content>
                <p>Quartos reservados para liberar</p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <mat-card-title>0/5</mat-card-title>
            <mat-card-content>
                <p>Reservas para hoje</p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <mat-card-title>3 / 10</mat-card-title>
            <mat-card-content>
                <p>Checkouts para hoje</p>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
    <mat-card-footer class="box-3">
        <mat-card class="card" appearance="outlined">
            <mat-card-title>Reservas do dia</mat-card-title>
            <mat-card-content>
                <div>
                    <mat-icon>search</mat-icon>
                    <span>Pesquisar</span>
                </div>
                <mat-divider></mat-divider>
                <div><span>table</span></div>
            </mat-card-content>
        </mat-card>
        <mat-card class="card" appearance="outlined">
            <mat-card-title>Checkouts do dia</mat-card-title>
            <mat-card-content>
                <div>
                    <mat-icon>search</mat-icon>
                    <span>Pesquisar</span>
                </div>
                <mat-divider></mat-divider>
                <div><span>table</span></div>
            </mat-card-content>
        </mat-card>
    </mat-card-footer>
</mat-card>

