@use '@angular/material' as mat;
@use 'theme/light';
@use 'theme/dark';
@use 'theme/mixins/utils';
@include mat.core();

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

html {
    --mdc-outlined-card-container-shape: 2rem !important;
    --mdc-elevated-card-container-shape: 2rem !important;
    --mat-stepper-header-hover-state-layer-shape: 2rem !important;
    --mat-stepper-header-focus-state-layer-shape: 2rem !important;

    .brand {
        font-family: 'Pacifico', sans-serif;
        @extend .text-success;
    }
    @include mat.all-component-themes(light.$theme);
    @include utils.mixins(light.$theme);

}

.dark-theme {
    @include mat.all-component-colors(dark.$theme);
    @include utils.mixins(dark.$theme);
}
