@use 'sass:map';
@use '@angular/material' as mat;

$theme: mat.define-theme((
        color: (
                theme-type: light,
                primary: mat.$azure-palette,
        ),
        typography: (
                plain-family: 'Roboto, sans serif',
                brand-family: 'Roboto, sans serif',
                bold-weight: 900,
                medium-weight: 400,
                regular-weight: 200,
        ),
        density: (scale: -1)
));
